<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>MinuMoodul</name>
	<displayName><![CDATA[TextModuleNick]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Here is my new great module for Prestashop! See on minu moodul. VP_]]></description>
	<author><![CDATA[Nick Ovt]]></author>
	<tab><![CDATA[checkout]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
